.media-container {
  position: relative;
}

.media-container iframe,
.media-container img,
.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.play {
  background-color: rgba(0,0,0,.7);
}

.lt-ie9 .play {
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.lt-ie8 .play {
  background-color: #000000;
  filter: alpha(opacity=70);
}

.play-button {
  background-image: url("/src/img/play-button.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -52px;
}

.lt-ie9 .play-button {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.lt-ie8 .play-button {
  filter: alpha(opacity=100);
}

.ratio-16-9 {
  padding-bottom: 56.25%;
}

.ratio-4-3 {
  padding-bottom:75%;
}
